* {
    font-family: "Bebas Neue", sans-serif;
    /* font-weight: 400;
    font-style: normal; */
  }
  

.nav-img{
    max-width: 35% !important;
}
.cat-nav{
    font-size:2.5rem;
}

.active-line{
    border-bottom: 3px solid black;
}
.btn-spacing {
    margin-right: 10px; 
}

.dropdown-menu {
    min-width: 10rem; /* Adjust width as needed */
    display: none; /* Initially hide */
    position: absolute;
    z-index: 1000; /* Ensure it's on top */
    background-color: #fff; /* Background color */
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15); /* Optional: Shadow */
    max-height: 300px; /* Set maximum height for the dropdown menu */
    overflow-y: auto; /* Enable vertical scrolling */
    border-radius: 10px; /* Adjust border radius as needed */
}

/* Show dropdown menu when .show class is added */
.dropdown-menu.show {
    display: block;
}

/* Fixed position for #categoryDropdown */
.menu-drop{
    opacity: 70%;
}
#categoryDropdown, #categoryDropdown1,#categoryDropdown3 {
    position: fixed;
    bottom: 90px;
    right: 5px;
    z-index: 1000;
    border-radius: 10px;
}
#categoryDropdown1{
    opacity: 70%;
    top: 12rem;
    right: 0;    
}
#categoryDropdown3{
    bottom:40px;
}
.goback{
   font-size: 12px !important;
   border-top-left-radius: 30% !important;
   border-bottom-left-radius: 30% !important;
}

/* modal popup */
/* Modal (background) */
/* Close Button */
.close {
    color: #aaa;
    float: left; /* Ensure it floats to the left */
    font-size: 60px;
    font-weight: bold;
    cursor: pointer; /* Make it look clickable */
    margin-left: 95%; /* Optional: Add some spacing */
}

/* Flex container for the modal header */
.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position:fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 98%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    border-radius: 5px;
}
.pop-up-head{
    font-size: 3rem;
}
#orderItems{
    font-size: 1.3rem;
}

/* Base styles for all devices */
.card {
    width: 80%; /* Use a percentage to make the card width fluid */
    height: auto; /* Let the height adjust automatically */
    max-width: 15rem; /* Set a maximum width to ensure it doesn't get too large */
    min-width: 8rem; /* Set a minimum width for very small screens */
}

.category-card h4 {
    font-size: 2.5vw; /* Use viewport width units for font size */
}

/* Additional adjustments for very small screens */
@media (max-width: 768px) {
    .card {
        width: 100%; /* Increase the width to almost full width */
        max-width: 12rem; /* Adjust max width for small screens */
    }
    .category-card h4 {
        font-size: 0.9rem; /* Set a fixed font size for very small screens */
    }
}

/* Additional adjustments for large screens (e.g., iPhone 13 Pro Max) */
@media (min-width: 1171px) {
    .card {
        width: 70%; /* Slightly reduce the width for larger screens */
        max-width: 13rem; /* Increase max width for large screens */
    }
    .category-card h4 {
        font-size: 1.1rem; /* Set a fixed font size for large screens */
    }
}

#imageModal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1000;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
    justify-content: center;
    /* Center horizontally */
    align-items: center;
    /* Center vertically */
}

#imageModal img {
    max-width: 50%;
    max-height: 50%;
}

.modal-content {
    width: 100% !important;
    height: 66% !important;
}

.close-btn {
    color: #fff;
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 28px;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.5);
    /* Semi-transparent background */
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.close-btn:hover,
.close-btn:focus {
    color: black;
    background-color: #fff;
    /* Change background color on hover */
    cursor: pointer;
}
